[submodule "lib/Liquid.NET"]
	path = lib/Liquid.NET
	url = https://github.com/mikebridge/Liquid.NET.git
[submodule "lib/dbschemareader"]
	path = lib/dbschemareader
	url = https://github.com/martinjw/dbschemareader.git
